<!DOCTYPE html>
<html>
<head>
  <title><% if(typeof title !== "undefined"){ %><%= title %><% }else{ %>B<% } %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1.7.1");</script>
  <script src="js/angular.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="/js/advanced.js"></script>
  <script src="/js/wysihtml5-0.4.0pre.min.js"></script>
  <script type="text/javascript">
    $(function() {
      if($('#flash').length > 0){
        setTimeout(function() {$('#flash').fadeOut()},3000);
      }

      $('.close-form, .cancel-form').click(function() {
        if ($('#user-form').hasClass('bounceInRight')) {
          $('#user-form').removeClass('bounceInRight').addClass('bounceOutRight');
        }else if ($('#post-form').hasClass('bounceInRight')) {
          $('#post-form').removeClass('bounceInRight').addClass('bounceOutRight');
        }
      });

      $('#effeckt-overlay').click(function() {
        $('#imageLoader').remove();
      });
    });
  </script>
</head>
<body ng-app="acsBlog">
  <section id="app" ng-controller="PostsCtrl">
    <user></user>
    <post-form></post-form>
    <div id="nav" infinite-scroll="loadMorePosts()" infinite-scroll-disabled="busy" infinite-scroll-distance="2">
      <nav-header></nav-header>
      <div id="summary-container">
        <div class="post-summary" ng-repeat="post in posts" ng-click="postClicked(post);" ng-class="{active : isPostSelected(post)}">
          <h3 class="side-post-title" ng-bind-html="post.title | truncate:50:true"></h3>
          <p class="side-post-content" ng-bind-html="post.content | truncate:50:true"></p>
        </div>
      </div>
    </div>
    <div id="content" ng-model="thePost">
      <h3 class="post-title" ng-bind-html="thePost.title || 'ACS Blog'"></h3>
      <div class="post-content" ng-bind-html="thePost.content"></div>
      <span class="tron-cyan-button" id="editPost" ng-show="thePost && isOwner" ng-click="editPost(thePost)">edit</span>
      <span class="tron-cyan-button" id="deletePost" ng-show="thePost && isOwner" ng-click="deletePost(thePost)">delete</span>
    </div>
  </section>
</body>
</html>